<form class="input" [formGroup]="fullUser" (ngSubmit)="onSubmit()">
  Value: {{ fullUser.value | json }}

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="firstName" class="input_first-name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="lastName" class="input_last-name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Birth</mat-label>
    <input matInput formControlName="birth" [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div>
    <h4>Select your technology</h4>
    <select (change)="onSelect($event)" formControlName="technologies">
      <option disabled>Select technology</option>
      <option *ngFor="let tech of technology" value="{{ tech.id }}">
        {{ tech.name }}
      </option>
    </select>

    <select formControlName="versions" class="select2">
      <option disabled>Select version</option>
      <option *ngFor="let vers of version" value="{{ vers.name }}">
        {{ vers.name }}
      </option>
    </select>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Email address</mat-label>
    <input matInput [formControl]="email" />
    <mat-error *ngIf="email.errors?.['required']">
      This field is required
    </mat-error>
    <mat-error *ngIf="email.errors?.['email']">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="email.errors?.['emailExists']">
      This email address is already registered. Please use another one.
    </mat-error>
    <mat-progress-spinner
      *ngIf="email.pending"
      matSuffix
      [mode]="'indeterminate'"
      [diameter]="20"
    >
    </mat-progress-spinner>
  </mat-form-field>

  <div formArrayName="hobbies">
    <div
      *ngFor="let hobby of getHobbies.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field class="xs">
        <input matInput placeholder="Name" formControlName="name" required />
      </mat-form-field>
      <mat-form-field class="xs">
        <input
          matInput
          placeholder="Duration"
          formControlName="duration"
          required
        />
      </mat-form-field>

      <button mat-raised-button (click)="deleteHobby(i)">Delete</button>
    </div>
  </div>

  <button class="add_btn" mat-raised-button (click)="addHobby()">
    Add hobby
  </button>
  <button class="submit_btn">Submit</button>
</form>
