<form class="input" [formGroup]="fullUser" (ngSubmit)="onSubmit()">
  Value: {{ fullUser.value | json }}

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="firstName" class="input_first-name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Surname</mat-label>
    <input matInput formControlName="lastName" class="input_last-name" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Birth</mat-label>
    <input matInput formControlName="birth" [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div>
    <h4>Select your technology</h4>
    <select (change)="onSelect($event)" formControlName="technologies">
      <option disabled>Select technology</option>
      <option *ngFor="let tech of technology" value="{{ tech.id }}">
        {{ tech.name }}
      </option>
    </select>

    <select formControlName="versions" class="select2">
      <option disabled>Select version</option>
      <option *ngFor="let vers of version" value="{{ vers.name }}">
        {{ vers.name }}
      </option>
    </select>
  </div>

  <!-- <div>
    <mat-form-field appearance="fill">
      <mat-label>Technology</mat-label>
      <mat-select
        [(ngModel)]="selectedTechnology"
        (selectionChange)="onSelect($event)"
      >
        <mat-option *ngFor="let techs of dropdownList" [value]="techs.value">{{
          techs.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>Selected: {{ selectedTechnology }}</p>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Version</mat-label>
    <mat-select [(ngModel)]="selectedVers">
      <mat-option *ngFor="let vers of versions" [value]="vers">
        {{ vers }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <!-- 
  <mat-form-field appearance="fill">
    <mat-label>Version</mat-label>
    <select
      matNativeControl
      formControlName="versions"
      required
      [disabled]="select1.valid"
    >
      <option value="angular">Angular</option>
      <option value="react">React</option>
      <option value="vue">Vue</option>
    </select>
  </mat-form-field> -->

  <!-- <select formControlName="technologies" (change)="selectTech($event)">
    <option *ngFor="let tech of technologies" [ngValue]="tech">
      {{ tech }}
    </option>
  </select>
   -->
  <mat-form-field appearance="fill">
    <mat-label>Email address</mat-label>
    <input matInput [formControl]="email" />
    <mat-error *ngIf="email.errors?.['required']">
      This field is required
    </mat-error>
    <mat-error *ngIf="email.errors?.['email']">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="email.errors?.['emailExists']">
      This email address is already registered. Please use another one.
    </mat-error>
    <mat-progress-spinner
      *ngIf="email.pending"
      matSuffix
      [mode]="'indeterminate'"
      [diameter]="20"
    >
    </mat-progress-spinner>
  </mat-form-field>

  <div formArrayName="hobbies">
    <div
      *ngFor="let hobby of getHobbies.controls; let i = index"
      [formGroupName]="i"
    >
      <mat-form-field class="xs">
        <input matInput placeholder="Name" formControlName="name" required />
      </mat-form-field>
      <mat-form-field class="xs">
        <input
          matInput
          placeholder="Duration"
          formControlName="duration"
          required
        />
      </mat-form-field>

      <button mat-raised-button (click)="deleteHobby(i)">Delete</button>
    </div>
  </div>

  <button class="add_btn" mat-raised-button (click)="addHobby()">
    Add hobby
  </button>
  <button class="submit_btn">Submit</button>
</form>
